/* This files contains all the classes similar to the Bootstrap for manging the common structure*/

/*
1. Margins
2. Paddings
3. Displays
4. Positions
5. Foreground Colors
6. Background-colors
7. Opacity
8. Overflow
9. Buttons
10. Font-families
11. Flex Columns
12. Typography
13. Border Radius & Border
14. Font Weight
15. Badges
16. Forms
17. Drop-Downs
18. Accordians
19. Toggle Button
20. gap
21. Toggle icon
*/

:root{
  --danger:#EB5951;
  --success:#01C567;
  --white:#fff;
  --black:#000000;
  --grey:#414141;
  --light-grey:#545454;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@font-face {
  font-family: "DuneRise";   
  src: url("../fonts/DuneRise.ttf");
}

.primary-font{
  font-family: "DuneRise";
}
html,body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
/* Display Starts */
.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
.d-block{
  display: block;
}
.d-inline{
  display: inline;
}
.d-inline-block{
  display: inline-block;
}
.d-inline-flex{
  display: inline-flex;
}
.d-inherit{
  display: inherit;
}
.d-none{
  display: none;
}

.d-flex-wrap{
  flex-wrap:wrap;
}
.d-flex-row{
  flex-direction:row;
}
.d-flex-column{
  flex-direction: column;
}
.d-flex-row-reverse{
  flex-direction: row-reverse;
}
.d-flex-column-reverse{
  flex-direction: column-reverse;
}

.d-align-center{
  align-items:center;
}
.d-align-start{
  align-items:flex-start;
}
.d-align-end{
  align-items:flex-end;
}
.d-align-baseline{
  align-items:baseline;
}

.d-justify-center{
  justify-content:center;
}
.d-justify-start{
  justify-content:flex-start;
}
.d-justify-end{
  justify-content:flex-end;
}
.d-justify-space-between{
  justify-content: space-between;
}
.d-justify-space-around{
  justify-content: space-around;
}
.d-flex-100{
  flex: 1 1;
}
/* Display Ends */

/* Positions Starts */

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}
.p-sticky{
  position: sticky;
}
.p-static{
  position: static;
}
.p-inherit{
  position: inherit;
}
.p-initial{
  position: initial;
}
.p-unset{
  position: unset;
}
/* Positions Ends */

/* Foreground Colors */
.text-black{
  color: var(--black);
}
.text-white{
  color:var(--white);
}
.text-grey{
  color:var(--grey);
}
.text-light-grey{
  color:var(--light-grey);
}
/* End Background Colors */

/* Foreground Colors */
.bg-black{
  background-color: var(--black);
}
.bg-white{
  background-color:#fff;
}
/* End Background Colors */

/* Opacity Starts */
.op-1{
  opacity:1;
}
.op-01{
  opacity:0.1;
}
.op-03{
  opacity:0.3;
}
.op-04{
  opacity:0.4;
}
.op-05{
  opacity:0.5;
}
.op-06{
  opacity:0.6;
}
.op-07{
  opacity:0.7;
}
.op-08{
  opacity:0.8;
}
.op-09{
  opacity:0.9;
}

/* Opacity Ends */

/* Overflow Starts */
.o-hidden{
  overflow:hidden;
}
.ox-hidden{
  overflow-x:hidden;
}
.oy-hidden{
  overflow-y:hidden;
}

.o-scroll{
  overflow:scroll;
}
.ox-scroll{
  overflow-x:scroll;
}
.oy-scroll{
  overflow-y:scroll;
}

.o-visible{
  overflow:visible;
}
.ox-scroll{
  overflow-x:visible;
}
.oy-scroll{
  overflow-y:visible;
}
/* Overflow Ends */

/* Buttons Starts */

.btn{
  padding:1rem 25px; 
  font-style: normal;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.21);
}
.btn-default-width{
  min-width:186px;
}
.btn-rounded{
  border-radius: 100px;
}
.btn-small{
  padding:10px 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
}
.btn-normal{
  padding:10px 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
  background-color: var(--white);
  color: var(--black);
}
.btn-normal:hover{
  background-color: var(--black);
  color: var(--white);
}
.btn-modal{
  width:128px;
  padding:14px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

/* Button Ends */



/* Font-families Ends */

p{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  margin: 0 ;
}
a{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  text-decoration: none;
  cursor: pointer;
  color:inherit;
}
span{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  color: inherit;
  line-height: inherit;
  font-family: inherit;
}
ul,ol{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  padding: 0 0 0 1.6rem;
  margin: 0 0 1.6rem 0;
}
li{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  line-height: 1.5;
}
.list-style-none{
  list-style: none;
}
div{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
}
.cursor-pointer{
  cursor: pointer;
}
.letter-spacing-03{
  letter-spacing: 0.03em;
}

.user-select-none{
  user-select: none;
}
/* Typography Ends */

/* Border Radius Starts */
.rounded{
  border-radius:12px; 
}
.rounded-5{
  border-radius: 5px;
}
.rounded-20{
  border-radius: 20px;
}
.rounded-50{
  border-radius: 50%;
}
.border{
  border: 0.5px solid #000000;
}
.shadow{
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.21);
}
.border-white{
  border: 1px solid var(--white);
}
.border-light{
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.border-black{
  border: 1px solid var(--black);
}
.border-none{
  border:none;
}
.border-success{
  border: 1px solid var(--success);
}
/* Border Radius Ends */
/* Badges Starts */
.badge-success{
  background: rgba(75, 192, 200, 0.1);
  color:#4BC0C8;
  border:none;
  padding:14px 24px; 
  font-size: 1.9rem;
  line-height: 1.5;
  border-radius:100px;
}
/* Badges Ends */

/* Form Start */
form input{
  font-size:clamp(0.825rem, 0.7900rem + 0.1750vw, 1rem);
  line-height: 2.85rem;
  font-weight: 400;
  font-family: 'Plus Jakarta Sans', sans-serif;;
}
/* Form Ends */

/*gap start*/
.gap-1{
  gap:4px;
}
.gap-2{
  gap:8px;
}
.gap-3{
  gap:12px;
}
.gap-4{
  gap:16px;
}
.gap-9{
  gap: 36px;
}
.gap-10{
  gap: 40px;
}
.gap-50{
  gap: 50px;
}
/*gap end*/
.scale-1{
  scale: 1.1;
}
.rotate-45{
  transform: rotate(45deg);
}
.rotate--45{
  transform: rotate(-45deg);
}
@media screen and (max-width:1199.98px){
  .container{
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 30px;
  }
}
