.h1,h1{
    font-size: clamp(2.25rem, 1.7500rem + 2.5000vw, 4rem);
}
.h2,h2{ 
    font-size: clamp(1.625rem, 1.3750rem + 1.2500vw, 2.5rem);
}
.h3,h3{
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
}
.h4,h4{
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
}
.h5,h5{
    font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.25rem);
}
.h6,h6{
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}
.font-12{
    font-size: clamp(0.625rem, 0.5893rem + 0.1786vw, 0.75rem);
}
.font-16{
    font-size: clamp(0.825rem, 0.7750rem + 0.2500vw, 1rem);
}
.font-18{
    font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
}
.font-28{
    font-size:  clamp(1.125rem, 0.9464rem + 0.8929vw, 1.75rem);
}
.font-36{
    font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
}
.font-48{
    font-size: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
}
.l-16{
    line-height: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
}
.l-22{
    line-height: clamp(1.125rem, 1.0750rem + 0.2500vw, 1.375rem);
}
.l-24{
    line-height:clamp(1.25rem, 1.2000rem + 0.2500vw, 1.5rem);
}
.l-27{
    line-height:clamp(1.375rem, 1.3125rem + 0.3125vw, 1.6875rem);
}
.l-36{
    line-height:clamp(1.75rem, 1.6500rem + 0.5000vw, 2.25rem);
}
.l-40{
    line-height: clamp(1.8875rem, 1.7650rem + 0.6125vw, 2.5rem);
}
.l-42{
    line-height:  clamp(1.9375rem, 1.8000rem + 0.6875vw, 2.625rem);
}
.l-50{
    line-height: clamp(2.2125rem, 2.0300rem + 0.9125vw, 3.125rem);
}
.l-54{
    line-height: clamp(2.25rem, 2.0250rem + 1.1250vw, 3.375rem);
}
.l-74{
    line-height: clamp(2.625rem, 2.2250rem + 2.0000vw, 4.625rem);
}
.l-96{
    line-height: clamp(3.125rem, 2.5500rem + 2.8750vw, 6rem);
}
.l-117{
    line-height:  clamp(3.4375rem, 2.6625rem + 3.8750vw, 7.3125rem);
}
.f-100{
    font-weight: 100;
}
.f-200{
    font-weight: 200;
}
.f-300{
    font-weight: 300;
}
.f-400{
    font-weight: 400;
}
.f-500{
    font-weight: 500;
}
.f-600{
    font-weight: 600;
}
.f-700{
    font-weight: 700;
}
.f-800{
    font-weight: 800;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capitalize{
    text-transform: capitalize;
}
